:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page {
  padding: 30px;
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

.border-top {
  margin: 0 0 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(black), color-stop(50%, black));
}

.border-bottom {
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(white), color-stop(50%, black));
}

.info-panel {
  margin-bottom: 24px;
}
