<div class="page">
    <mat-card (resized)="onResized($event)" class="full-content">
        <div class="border-top"></div>
        <mat-card-title>Home</mat-card-title>
        <div class="border-bottom"></div>
        <!--        <mat-accordion>-->
        <!--            <mat-expansion-panel>-->
        <!--                <mat-expansion-panel-header>-->
        <!--                    <mat-panel-title>-->
        <!--                        Introduction-->
        <!--                    </mat-panel-title>-->
        <!--                    <mat-panel-description>-->
        <!--                        Lemme get you settled in-->
        <!--                    </mat-panel-description>-->
        <!--                </mat-expansion-panel-header>-->
        <!--                <p>Welcome and we hope you feel comfortable with us.</p>-->
        <!--            </mat-expansion-panel>-->
        <!--        </mat-accordion>-->
        <mat-carousel
                timings="450ms ease-in"
                interval="2500"
                maintainAspectRatio="false"
                [maxWidth]="width + 'px'"
                [hideArrows]="false"
                [hideIndicators]="false">
            <mat-carousel-slide *ngFor="let image of images" [image]="image"></mat-carousel-slide>
        </mat-carousel>
    </mat-card>
</div>
