<div class="page">
    <mat-card class="full-content">
        <div class="border-top"></div>
        <mat-card-title>Noughts 'n' Crosses</mat-card-title>
        <mat-card-subtitle>Tic-Tac-Toe game</mat-card-subtitle>
        <div class="border-bottom"></div>
        <mat-card-content class="noughts-crosses-content">
            <div class="panel-content">
                <div class="players-panel">
                    <h2 class="players-info">Players:</h2>
                    <div class="players-content">
                        <mat-chip-list aria-label="Players">
                            <mat-chip *ngFor="let key of playerKeys"
                                      disableRipple disabled
                                      [color]="playerColor(player[key])"
                                      [selected]="playerSelected(player[key])">
                                <mat-icon *ngIf="playerSelected(player[key])">check</mat-icon>
                                Player {{player[key]}}
                            </mat-chip>
                        </mat-chip-list>
                        <h3 *ngIf="winner !== undefined"
                            [ngClass]="winnerClass"
                            class="winner-info">
                            {{winnerMessage}}
                        </h3>
                    </div>
                </div>
                <button mat-fab class="extended-fab" type="button" color="primary" (click)="startNewGame()">
                    <mat-icon>play_arrow</mat-icon>
                    <span class="extended-fab__text">New game</span>
                </button>
            </div>
            <div class="game-content">
                <app-tic-tac-toe class="tic-tac-toe"
                                 [start]="newGame.asObservable()"
                                 (player)="updateCurrentPlayer($event)"
                                 (outcome)="updateWinner($event)">
                </app-tic-tac-toe>
                <app-game-stats class="game-stats" [data]="outcomes" (resetEvent)="resetOutcomes()"></app-game-stats>
            </div>
        </mat-card-content>
    </mat-card>
</div>
