<mat-card>
    <mat-card-title>Statistics</mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <th></th>
                <th *ngFor="let key of playerKeys" [ngClass]="playerClass(player[key])">
                    Player {{player[key]}}
                </th>
            </tr>
            <tr *ngFor="let stats of playersStats | keyvalue: mapOrder">
                <td class="data-unit">{{stats.key}}</td>
                <td *ngFor="let value of stats.value">
                    {{value}}
                </td>
            </tr>
            <tr>
                <td class="data-unit">Ties</td>
                <td [colSpan]="playerKeys.length">{{ties}}</td>
            </tr>
            <tr>
                <td class="data-unit">Sets</td>
                <td [colSpan]="playerKeys.length">{{sets}}</td>
            </tr>
            <tr>
                <td class="data-unit">Winner</td>
                <td [colSpan]="playerKeys.length">
                    <ng-container *ngTemplateOutlet="placeholder"></ng-container>
                    <strong [ngClass]="playerClass(winner)">{{winner ? 'Player ' + winner : 'Tie'}}</strong>
                    <ng-container *ngTemplateOutlet="placeholder"></ng-container>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button (click)="reset()">Reset</button>
    </mat-card-actions>
</mat-card>

<ng-template #placeholder>
    <strong *ngIf="winner == null" class="invisible">╳</strong>
</ng-template>
