<mat-card>
    <mat-card-title>Statistics</mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <th></th>
                <th *ngFor="let key of playerKeys">
                    Player {{player[key]}}
                </th>
            </tr>
            <tr *ngFor="let stats of playersStats | keyvalue: mapOrder">
                <td class="data-unit">{{stats.key}}</td>
                <td *ngFor="let value of stats.value">
                    {{value}}
                </td>
            </tr>
            <tr>
                <td class="data-unit">Ties</td>
                <td [colSpan]="playerKeys.length">{{ties}}</td>
            </tr>
            <tr>
                <td class="data-unit">Total</td>
                <td [colSpan]="playerKeys.length">{{total}}</td>
            </tr>
            <tr>
                <td class="data-unit">Winner</td>
                <td [colSpan]="playerKeys.length"><strong>{{winner ? 'Player ' + winner : 'Tie'}}</strong></td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button (click)="reset()">Reset</button>
    </mat-card-actions>
</mat-card>
