.page {
  padding: 30px;
}

.border-top {
  margin: 0 0 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(black), color-stop(50%, black));
}

.border-bottom {
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(white), color-stop(50%, black));
}

.noughts-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .mat-card {
    flex: 1;
    min-width: 0;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  .mat-card-header {
    margin-bottom: calc(1.34375em - 12px)
  }
}
