html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  padding: 10px;
}

.form-field {
  margin-right: 1em;
  display: inline-block !important;
}

.select-clear {
  min-width: calc(100% + 104px) !important;
}

.mat-sort-header-content {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
