@import "src/assets/scss/colors";

:host {
  width: 100%;
  height: 100%;
}

.square-btn {
  width: 100%;
  height: 100%;

  &.mat-primary {
    background-color: $color-alternative !important;
  }

  &.mat-accent {
    background-color: $color-accent !important;
  }

  &.mat-warn {
    background-color: $color-warn !important;
  }

  .mat-icon {
    font-size: 7cqh;
    width: 100% !important;
    height: 100% !important;
  }
}

.mat-button-disabled {
  color: white !important;

  &.move-disabled {
    cursor: not-allowed !important;
  }
}
